<?xml version="1.0"?>
<config>
  <modules>
    <EmPayTech_CredEx>
      <!-- declare module's version information for database updates -->
      <version>0.1.0</version>
    </EmPayTech_CredEx>
  </modules>
  <phpunit>
    <suite>
      <modules>
        <EmPayTech_CredEx/>
      </modules>
    </suite>
  </phpunit>
  <global>
    <!-- FIXME: this was a test to convert our attributes from quote to order
        <fieldsets>
            <sales_convert_quote>
                <credex_cust_id>
                    <to_order>*</to_order>
                </credex_cust_id>
                <credex_inv_id>
                    <to_order>*</to_order>
                </credex_inv_id>
            </sales_convert_quote>
        </fieldsets>
-->
    <helpers>
      <credex>
        <class>EmPayTech_CredEx_Core_Helper</class>
      </credex>
    </helpers>
    <!-- IMPORTANT: if you use your own namespace (i.e. EmPayTech) you also have to declare blocks group for new module. See topic: http://www.magentocommerce.com/boards/viewthread/22416/#t102732 -->
    <blocks>
      <credex>
        <class>EmPayTech_CredEx_Block</class>
      </credex>
    </blocks>
    <!-- declare model group for new module -->
    <models>
      <!-- model group alias to be used in Mage::getModel('credex/...') -->
      <credex>
        <!-- base class name for the model group -->
        <class>EmPayTech_CredEx_Model</class>
      </credex>
      <credex_adminhtml>
        <class>EmPayTech_CredEx_Adminhtml_Model</class>
      </credex_adminhtml>
    </models>
    <!-- declare resource setup for new module -->
    <resources>
      <!-- resource identifier -->
      <credex_setup>
        <!-- specify that this resource is a setup resource and used for upgrades -->
        <setup>
          <!-- which module to look for install/upgrade files in -->
          <module>EmPayTech_CredEx</module>
        </setup>
        <!-- specify database connection for this resource -->
        <connection>
          <!-- do not create new connection, use predefined core setup connection -->
          <use>core_setup</use>
        </connection>
      </credex_setup>
      <credex_write>
        <connection>
          <use>core_write</use>
        </connection>
      </credex_write>
      <credex_read>
        <connection>
          <use>core_read</use>
        </connection>
      </credex_read>
    </resources>
  </global>
  <frontend>
    <secure_url>
      <credex_standard>/credex/standard</credex_standard>
    </secure_url>
    <routers>
      <credex>
        <use>standard</use>
        <args>
          <module>EmPayTech_CredEx</module>
          <frontName>credex</frontName>
        </args>
      </credex>
    </routers>
    <layout>
      <updates>
        <credex>
          <file>empaytech.xml</file>
        </credex>
      </updates>
    </layout>
  </frontend>
  <!-- declare default configuration values for this module -->
  <default>
    <!-- 'payment' configuration section (tab) -->
    <payment>
      <!-- 'credex' configuration group (fieldset) -->
      <credex>
        <!-- by default this payment method is inactive -->
        <active>0</active>
        <!-- model to handle logic for this payment method -->
        <model>credex/paymentMethod</model>
        <!-- order status for new orders paid by this payment method -->
        <order_status>pending</order_status>
        <!-- default title for payment checkout page and order view page -->
        <title>Credex Financing</title>
        <!-- our default values -->
        <gateway_url_staging>https://api-test.credex.net:10001/gateway/transact.cfm</gateway_url_staging>
        <platform>staging</platform>
        <allowspecific>0</allowspecific>
        <min_order_total>1000</min_order_total>
        <max_order_total>35000</max_order_total>
      </credex>
    </payment>
  </default>
</config>
